.bg-darkgray {
    background-color: #222629;

}

.imgPowerBI {

    object-fit: cover;
    height: 600px;
    float: right;

}

.CarroselImgs {

    object-fit: cover;
    object-position: 0 60%;
    height: 400px;
}


.bg-main {

    background-image: url("../Images/background.jpg");

}



.ptcustom {

    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
}

.mtcustom {

    margin-top: 50px;
}

.fontWhite {

    color: #ffffff;

}

.ptInicio {

    padding-top: 100px;

}

.pbIncio {


    padding-bottom: 20px;

}



header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }


body {overflow-x: hidden;}

html {
    scroll-behavior: smooth;
  }


.scrollhidden {
    overflow : hidden;
}

.smooth {


    scroll-behavior: smooth;
}


.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-;
}


nav.shrink {
    background-color: rgb(31, 32, 37);
    height: 60px;
}


.mtpt-carga {

  margin-top: 50px;
  padding-top: 50px;
}


.buttom-Referencia {
  width: 400px;
}

.tableheadercolor {

   background-color: rgb(31, 32, 37);
   color: #ffffff;

}